---
import TerminalLayout from "../layouts/TerminalLayout.astro";
---

<TerminalLayout title="Thomas Reither | Developer | Consultant">
    <main class=" text-lg text-justify p-2 md:p-24 h- overflow-auto scroll-smooth">
        <h1 class="text-center md:text-left">Thomas Reither: 2022</h1>
        <p>This is my very boring blog, where I regail many details about my adventures.</p>
    </main>
</TerminalLayout>