<footer class="absolute bottom-0 flex w-full text-center">
    <a class="flex-1 bg-slate-800 p-5" href="/about">About</a>
    <a class="flex-1 bg-slate-800 p-5" href="/">Home</a>
    <a class="flex-1 bg-slate-800 p-5" href="/blog">Blog</a>
</footer>