<header class="bg-slate-900  py-2">
    <nav class="flex justify-center text-center text-2xl gap-10">
        <a class="py-2 sm:inline hidden hover:text-lime-300 duration-200" href="/about">&lt;...About...&gt;</a>
        <a class="py-2  hover:text-lime-300 duration-200" href="/">&lt;___tj/jr___&gt;</a>
        <a class="py-2 sm:inline hidden hover:text-lime-300 duration-200" href="/blog">&lt;...Blog...&gt;</a>
    </nav>
</header>